.Nav {
  font-family: 'Butcherman', cursive;
  
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-by-text {

}

.Search-selection {
  margin-left: 2%;
  margin-right: 3%;
}

.Search-input {

}

.Sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sort-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sort-year {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sort-icon {
  height: 7%;
  width: 7%;
}
