.Painting-card {
  height: 405px;
  width: 250px;
  border: 1px solid black;
  margin: 2%;
}

.Painting-card:hover {
  box-shadow: 0 0 1px 1px rgb(82, 82, 82);
}

.Painting-image-container {
  /* border-radius: 7%; */
  margin: 5%;
  max-width: 90%;
  max-height: 60%;
  filter: grayscale(100%);
  overflow: hidden;
  display: flex;
  /* filter: hue-rotate(180deg) invert(100%) grayscale(50%); */
}

.Painting-image {
  max-width: 100%;
  overflow: hidden;
  align-self: center;
  clip: auto;
}

.Painting-image-container:hover {
  filter: none;
}


/*TEXT*/

.Text-container {
  text-transform: uppercase;
  margin: 5%;
  /* border: 1px solid black; */
}

.Painting-title {
  font-weight: 900;
  margin-top: 15px;
  font-size: 10pt;

}

.Painting-artist {
  margin-top: -9px;
  font-size: 8pt;
}

.Painting-date {
  margin-top: -5px;
  font-size: 8pt;
}

.Painting-museum-name {
  margin-top: 10px;
  font-weight: 300;
  font-size: 8pt;
  font-style: italic;
}

.Painting-museum-location {
  margin-top: -10px;
  font-weight: 300;
  font-size: 8pt;
  font-style: italic;
}
