.Painting-card {
  height: 405px;
  width: 250px;
  border: 1px solid black;
  margin: 2%;
  position: relative;
  filter: grayscale(75%);
  font-family: 'Butcherman', cursive;
}

.Painting-card-front {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Painting-card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: rgba(255, 255, 255, 0.72);
}

.Painting-card:active .Painting-card-back {
  opacity: 1;
}

.Painting-card:active .Painting-card-front {
  filter: blur(3px);
}

.Painting-card:hover {
  box-shadow: 0 0 1px 1px rgb(82, 82, 82);
  filter: none;
  transition: filter 2s;
}

.Painting-image-container {
  /* border-radius: 7%; */
  margin: 5%;
  max-width: 90%;
  max-height: 60%;
  overflow: hidden;
  display: flex;
  /* filter: hue-rotate(180deg) invert(100%) grayscale(50%); */
}

.Painting-image {
  object-fit: cover;
  overflow: hidden;
}

.Painting-image-container:hover {
}


/*TEXT*/

.Text-container-back {
  text-transform: uppercase;
  margin: 5%;
  margin-top: 50%;
  margin-bottom: 10%;
  /* border: 1px solid black; */
}

.Text-container {
  text-transform: uppercase;
  margin: 5%;
  margin-bottom: 10%
  /* border: 1px solid black; */
}

.Painting-title {
  font-weight: 900;
  margin-top: 0px;
  font-size: 14pt;
  text-shadow: 2px 2px 2px #FF0000;
}

.Painting-artist {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 10pt;
}

.Painting-date {
  margin-top: 10px;
  font-size: 14pt;
}

.Painting-museum-name {
  margin-top: 20px;
  /* font-weight: 300; */
  font-size: 10pt;
  font-style: italic;
}

.Painting-museum-location {
  margin-top: -8px;
  /* font-weight: 300; */
  font-size: 10pt;
  font-style: italic;
}
